@page
@model CollaborationModel
@{
    ViewData["Title"] = "Collaboration";
}

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">Our Partners & Supporters</p>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Procter_%26_Gamble_logo.svg/1200px-Procter_%26_Gamble_logo.svg.png" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Wings_%28Indonesian_company%29_logo.svg" alt="Mirage">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://logos-world.net/wp-content/uploads/2020/09/Nestle-Logo.png" alt="Tuple">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://download.logo.wine/logo/Godrej_%26_Boyce/Godrej_%26_Boyce-Logo.wine.png" alt="Laravel">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://cdn.sanity.io/images/92ui5egz/production/7c1c60e9afaaaa3cce61e5101717796d21b7f914-1426x1080.svg?auto=format" alt="StaticKit">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Palmolive_logo_2019.png" alt="Statamic">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://logos-world.net/wp-content/uploads/2020/04/LOreal-Logo-1962-present.jpg" alt="Statamic">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Wipro_Primary_Logo_Color_RGB.svg/800px-Wipro_Primary_Logo_Color_RGB.svg.png" alt="Statamic">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-white">
        <img class="max-h-14" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Nivea_logo.svg/2048px-Nivea_logo.svg.png" alt="Statamic">
      </div>
    </div>
  </div>
</div>
