@page
@model CompanyModel
@{
    ViewData["Title"] = "Company";
}

<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">About Us</h2>
        <p class="text-xl text-gray-500">In June 2020, when we started, we were running from a shack, with a team of two interns and operating only one Gerobak. We were a small team, but we had a big dream: to reinvent the way retail is done.
        
        We would speak to our customers on a daily basis and always hear their stories of triumph and of struggles. We would listen to how they were fighting to make ends meet, while juggling household chores and work - all in the midst of the pandemic. They were living in places that were filled with plastic waste, having their kids play next to toxic fumes from burning plastic and facing moments where their houses were under water due to floods. 
        
        This is why we care. This is why we want to make a change. Together with you, one refill at a time!</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:gap-x-8 lg:space-y-0">
          <li class="sm:py-8">
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>Leslie Alexander</h3>
                    <p class="text-indigo-600">Co-Founder / CEO</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">After finishing her studies at LSE and Harvard, Leslie spent her career at the intersection of behavioral economics and international development, working on projects targeting low-income populations. Her mission is to disrupt the way retail is done.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="sm:py-8">
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>James William</h3>
                    <p class="text-indigo-600">Head Of Operations</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">Having graduated from ITB and UCL, James is an expert in Operations & Strategy with experiences ranging from developing business transformation plans to providing technical assistance promoting economic growth and poverty reduction.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        <li class="sm:py-8">
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>Charlotte Harper</h3>
                    <p class="text-indigo-600">Head Of Marketing & Business Development</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">Charlotte is a marketing professional and business leader with two successful exits. She is a shareholder at Critical Path and has previously held leadership and consulting roles within leading media, research, and tech firms, including Fleishman Hillard, BCW, APCO, and Hewlett Packard.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="sm:py-8">
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1595956553066-fe24a8c33395?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>Theodore Colton</h3>
                    <p class="text-indigo-600">Head Of Engineering</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">A technology architect with over 16 years of experience. Colton served in various IT roles, focusing on Product & Software Engineering and has built up teams from 3 to 40 engineers. He has worked for AdTech, Hospitality, Cloud Computing, and Network Technology companies. Colton held a leadership role over the past four years in companies such as TabSquare, StickEarn, and Biznet.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="sm:py-8">
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
              <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
              </div>
              <div class="sm:col-span-2">
                <div class="space-y-4">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>Olivia Madison</h3>
                    <p class="text-indigo-600">Head Of Communication</p>
                  </div>
                  <div class="text-lg">
                    <p class="text-gray-500">Olivia is an international communications specialist with experience in sustainable development, social impact and education. An MPA graduate from Harvard University, she aims to raise awareness on the issues and potential solutions for plastic pollution in Indonesia..</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-gray-900">Our offices</h2>
    <p class="mt-6 text-lg text-gray-500 max-w-3xl"></p>
    <div class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="text-lg font-medium text-gray-900">Los Angeles</h3>
        <p class="mt-2 text-base text-gray-500">
          <span class="block">4556 Brendan Ferry</span>
          <span class="block">Los Angeles, CA 90210</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-gray-900">New York</h3>
        <p class="mt-2 text-base text-gray-500">
          <span class="block">886 Walter Streets</span>
          <span class="block">New York, NY 12345</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-gray-900">Toronto</h3>
        <p class="mt-2 text-base text-gray-500">
          <span class="block">7363 Cynthia Pass</span>
          <span class="block">Toronto, ON N3Y 4H8</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-gray-900">London</h3>
        <p class="mt-2 text-base text-gray-500">
          <span class="block">114 Cobble Lane</span>
          <span class="block">London N1 2EF</span>
        </p>
      </div>
    </div>
  </div>
</div>
